<footer><span>
  
<table>
<tbody>
<tr>

<td><p> Podcast <a href="http://feeds.feedburner.com/ugeek"><img style="float: left;" src="img/icon/rss.png" alt="" width="30" height="30" /></a>
</p></td>  
  
  
 <td><p> rss <a href="http://feeds.feedburner.com/uGeekBlog"><img style="float: left;" src="img/icon/rss.png" alt="" width="30" height="30" /></a>
</p></td>


<td><p> Canal <a href="https://t.me/uGeek"><img style="float: left;" src="img/icon/telegram.png" alt="" width="30" height="30" /></a></p>
  </td>
  
 <td><p> Grupo <a href="https://t.me/joinchat/AAAAAEGgxsbMjSliSWKXow"><img style="float: left;" src="img/icon/telegram.png" alt="" width="30" height="30" /></a></p>
  </td> 
  
</tr>
</tbody>
</table>
  
  
  
  
</span></footer>
