<header id="header">
	<a href="{{ site.baseurl }}">
		<img src="{{ "/img/ugeek.png" | prepend: site.baseurl | replace: '//', '/' }}" alt="ugeek Logo">
	  <h1>uGeek</h1>
		<h5>Podcast de Tecnología en el que hablo de Linux, Raspberry Pi, servidores y tecnología en general.<h5>
	
	<P ALIGN=left>
	<a href="https://t.me/uGeek" rel="uGeek"><img src="img/icon/telegram.png" width="50" height="50" alt="" align="left"/></a>
	<a href="https://twitter.com/ugeekpodcast" rel="uGeek"><img src="img/icon/twitter.png" width="50" height="50" alt="" align="left"/></a>
		
			</a>
</header>
