<p style="text-align: center;">
<table>
<tbody>
<tr>
<td><a href="http://feeds.feedburner.com/ugeek" rel="uGeek"><img src="img/icon/rss.png"/></a></td>	
<td><a href="https://t.me/uGeek" rel="uGeek"><img src="img/icon/telegram.png"/></a></td>
<td><a href="https://twitter.com/ugeekpodcast" rel="uGeek"><img src="img/icon/twitter.png"/></a></td>
<td><a href="https://twitter.com/ugeekpodcast" rel="uGeek"><img src="img/icon/youtube.png"/></a></td>
<td><a href="https://github.com/AngelBCN" rel="uGeek"><img src="img/icon/github.png"/></a></td>
	</tr>
</tbody>
</table>
</p>
		
